.clients {
    padding: 30px 0;
    color: color(h);

    &__content {
        display: flex;
        justify-content: center;
        flex-flow: column nowrap;
       
        @include media('>=tablet-l') {
            justify-content: space-between;
            flex-flow: row nowrap;
            
        }
    }

    &__form {
        order: 2;
        padding: 20px 0;
        text-align: center;
        
        @include media('>=tablet-l') {
            order: 1;
            flex: 1 1 60%;
            padding: 15px 0;
            
        }
    }

    &__heading {
        font-family: 'Playfair display', sans-serif;
        font-size: 22px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        padding-bottom: 20px;

        @include media('>=tablet-l') {
            text-align: left;
            
        }
    }


    &__logos {
        order: 1;
        text-align: center;
        

        @include media('>=tablet-l') {
            order: 2;
            flex: 1 1 40%;
            padding: 15px 0 15px 30px;
            text-align: left;
        }
    }

    &__logo {
        margin: 5px;
        width: 100px;
        height: 60px;
    
        @include media('>=tablet-l') {
            width: 140px;
            height: 60px;
            margin: 10px 25px 10px 0;
        }
    }
}

