.common-button {
  display: block;
  width: 180px;
  height: 50px;
  padding: 15px;
  text-align: center;
  font-size: 20px;
  font-family: 'Hammersmith One', sans-serif;
  text-transform: uppercase; 
  text-decoration: none;
  color: color(btn);
  margin: 0 auto;
  border: 1px solid color(btn);
  border-radius: 3px;
  order: 10;

  
}