.expertise {
    padding: 30px 0;
    color: color(h);

    &__heading {
        font-family: 'Playfair display', sans-serif;
        font-size: 22px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
    }

    &__subheading {
        font-family: 'Playfair display', sans-serif;
        font-size: 14px;
        text-align: center;
        padding: 15px 0;
    }

    &__content {
        display: flex;
        justify-content: center;
        flex-flow: column nowrap;
        

        @include media('>=tablet') {
            
            flex-flow: row wrap;
            
        }
    }
}

.minibox {
    text-align: center;
    padding: 15px 0;

    @include media('>=tablet') {
        width: 300px;
    }

    &__img {
        width: 60px;
        height: 60px;
        
    }

    &__title {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: .1rem;
        padding: 10px 0;
        text-transform: uppercase;
    }

    &__text {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        line-height: 1.3rem;
    }
}