.footer {
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    padding: 10px 0;
    color: color(w);

    @include media('>=tablet') {
        justify-content: space-between;
        flex-flow: row nowrap;
    }


    &__box {
        flex: 1 1 auto;
        text-align: center;
        width: 300px;
        position: relative;
        padding: 20px 0;
        margin: 0 auto;

        @include media('>=tablet') {
            text-align: left;
        }
    }

    &__logo {
        width: 142px;
        height: 59px;
        
    }

    &__paragraph {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 300;
        padding: 10px 0;
        line-height: 1.2rem;

        @include media('>=tablet') {
            text-align: left;   
            padding: 10px 50px 10px 0;
        }
    }

    &__title {
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        padding: 10px 0;

        @include media('>=tablet') {
            margin-top: 17px;
            text-align: left;
        }
        
    }

    &__address {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 300;
        text-align: center;

        @include media('>=tablet') {
            text-align: left;  
            margin-top: 17px; 
        }
        
    }

    &__address::before {
        content: '';
        position: absolute;
        background-image: url('./images/placeholder.svg');
        width: 25px;
        height: 25px;
        top: 55px;
        left: 0;

        @include media('>=tablet') {
            top: 87px; 
            left: -30px;
        }
    }

    &__phone {
        text-decoration: none;
        font-weight: 300;
        display: block;
        padding: 5px 0;
        color: color(w);

        @include media('>=tablet') {
            text-align: left;
        }
        
    }

    &__phone::before {
        content: '';
        position: absolute;
        background-image: url('./images/tel.svg');
        width: 25px;
        height: 25px;
        left: 45px;
        top: 97px;

        @include media('>=tablet') {
            top: 133px; 
            left: -30px;
        }

        
    }

    &__copybox {
        display: flex;
        justify-content: center;
        flex-flow: column nowrap;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        

        @include media('<tablet') {
            
        }
        

        @include media('>=tablet') {
            flex-flow: row nowrap;
            justify-content: space-between;
            
            
        }
        
        
    }

    &__copyright {
        color: color(w);
        padding: 20px 20px 20px 0;
        text-align: center;

        @include media('>=tablet') {
            padding: 0 0 20px 0;
        }
    }


}

.f-form {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    display: flex;
    

    @include media('>=tablet') {
        margin-top: 17px; 
    }
  
    &__input {
        padding: 10px;
        height: 40px;
        
        
    }
  
    &__submit {
        
        background: rgba(255, 255, 255, 0.4) url('./images/paper-plane.svg') center center no-repeat;
        width: 100px;
        height: 40px;
        border: 0;
    }
  
  }
  
.social-icons {
    

    &__item {
       padding: 10px 5px;
       display: inline-block;
    }

    &__icon {
        width: 30px;
        height: 30px;

        @include media('>=tablet') {
            width: 35px;
            height: 35px; 
        }
    }
}

.f-navi {
    display: flex;
    justify-content: flex-start;
    text-transform: uppercase;
    
    
    @include media('<tablet') {
        justify-content: center;
        
    }
    
    &__item {
        color: color(w);
        text-decoration: none;  
        padding: 0 15px 0 0;  
    }
}