.form {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  
  

  &__input {
      padding: 20px;
      width: 100%;
      margin: 5px 0;
      
  }

  &__textarea {
      padding: 20px 20px 100px 20px;
      width: 100%;
      
  }

  &__submit {
      background-color: transparent;
      margin: 20px auto 0;
      
  }

  
}