.header {
  

  &__logo {
    
    width: 142;
    height: 59px;

    @include media('>=tablet') {
      margin: 20px 0 0 0;
    }
  }

  &__navigation {
    display: flex;
    justify-content: baseline;
    flex-flow: row nowrap;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: color(w);
    
    @include media('>=tablet-l') {
      font-size: 13px;
    }
  }
  
  &__heading {
    font-family: 'Playfair display', sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: color(w);
    letter-spacing: .1rem;
    text-align: center;
    padding: 20px 5px 0 5px;

    @include media('>=phone') {
      font-size: 28px;
      padding: 40px 5px 0 5px;
    }

    @include media('>=tablet') {
      padding: 100px 5px 0 5px;
    }
    
  }

  &__paragraph {
    font-family: 'Roboto', sann-serif;
    font-size: 14px;
    font-weight: 300;
    color: color(w);
    line-height: 1.4rem;
    padding: 25px 0;
    text-align: center;

    @include media('landscape') {
      line-height: 1.4rem;
      
    }

    @include media('>=tablet') {
      padding: 40px 0;
    }
    
  }
}

.h-circle {
  
  display: flex;
  justify-content: center;
  


  &__item {
    display: inline-block;
    border: 1px solid color(btn);
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin: 20px 10px;
    
    @include media('>=tablet') {
      margin: 150px 10px 20px 10px;
    }
  }

  &__item--active {
    background-color: color(btn);
  }

}

