html {
  
  
}

body {
  font-family: 'Roboto', 'Playfair Displayserif', 'Hammersmith One', sans-serif;
  font-size: 16px;
  color: color(b);
  background-color: color(w);
  
}

.layout {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-flow: column nowrap;
  

  &__header {
   background: linear-gradient(to bottom, rgba(67,41, 83, .9), rgba(48,30, 86, .9)), url('./images/781761.jpg') no-repeat;
   background-size: 100% 100%;
  }

  &__content {
    
  }

  &__footer {
    background: linear-gradient(to bottom, rgba(67,41, 83, .9), rgba(48,30, 86, .9)), url('./images/781767.jpg') no-repeat;
    background-size: 100% 100%;
  }
}
