.hamburger {
    width: 45px;
    position: absolute;
    top: 30px;
    right: 0;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: 0.5s ease;
    z-index: 2;
    
    @include media('>=tablet') {
      top: 50px;
    }

    @include media('>=tablet-l') {
      display: none;
    }
   

    .bar {
      width: 40px;
      height: 3px;
      background-color: #00e0d0;
      border-radius: 2px;
      transition: 0.4s ease;
      
      &:not(:first-child) {
        margin-top: 10px;
      }

      @include media('>=tablet-l') {
        display: none;
      }
    }
  }
  #hi {
    position: absolute;
    left: -999px;
    top: -999px;
  }


  #hi:checked + .hamburger {
    top: 10px;

    @include media('>=tablet') {
      top: 35px;
    }
    
   
    
    .bar {
      transform: rotatey(180deg) rotatex(360deg);
      background-color: color(w);
      &:first-child {
        transform: rotate(-45deg);
        margin-top: 20px;
        
      }
      &:nth-child(2) {
        opacity: 0;
        
      }
      &:nth-child(3) {
        margin-top: -15px;
        transform: rotate(45deg);
        
      }
    }

  
  } 

  #hi:checked ~ .menu, .menu:hover {
    z-index: 1;
}

.menu {
  padding-top: 40px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -999;
  background: rgba(80, 224, 208, 1);
  transition: 0.3s transform ease-in-out;
  display: flex;
  flex-flow: column nowrap;
  
  @include media('>=tablet') {
    padding-top: 80px;
    
  }

  @include media('>=tablet-l') {
    display: flex;
    z-index: 2;
    flex-flow: row nowrap;
    background: transparent;
    padding-top: 50px;
    }

  

  &__link {
    color: color(w);
    display: block;
    height: 40px;
    text-decoration: none;
    padding: 5px 30px 5px 5px;
    text-align: right;

    @include media('>=tablet') {
      height: 60px;
      padding: 18px 30px 5px 5px;
    }

    @include media('>=tablet-l') {
      height: auto;
      margin: 0 10px;
      padding: 0;
      
    }
    
  }  

  &__link:hover, &__link--active {
    background-color: color(w);
    color: color(btn);

    @include media('>=tablet-l') {
      background-color: transparent;
    }
  }


}
  

