.people {
    background: linear-gradient(to bottom, rgba(67,41, 83, .9), rgba(48,30, 86, .9)), url('./images/781761.jpg') no-repeat;
   background-size: 100% 100%;
    color: color(w);
    padding: 20px 0;

    &__heading {
        font-family: 'Playfair display', sans-serif;
        font-size: 100px;
        transform: rotatey(180deg) rotatex(180deg);
        text-align: center;
        margin: 30px 0 -30px;
    }

    &__paragraph {
        font-family: 'Playfair display', sans-serif;
        font-size: 1rem;
        text-align: center;
        padding: 0 0 50px 0;

        @include media('>=tablet') {
            padding: 0 120px 50px;
        }
    }

    &__name {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
    }

    &__state {
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
        font-weight: 300;
        text-align: center;
        text-transform: uppercase;
        padding-top: 5px;
    }

    
}

.caruselle {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-flow: row nowrap;
    padding: 30px 0;
    text-align: center;

    &__item {
        width: 40px;
        height: 40px;
        padding: 0 5px;
        
        
    }

    &__item--slide a {
        font-family: 'Roboto', sans-serif;
        font-size: 26px;
        text-decoration: none;
        color: color(w); 
        vertical-align: middle;  
    }

    &__item--active {
        zoom: 1.5;
    }
}