.story {
  background-color: color(w);
  padding: 30px 0;
  position: relative;
  
  &__content {
    display: flex;
    justify-content: flex-start;
    flex-flow: column nowrap;
    color: color(h);

  }

    &__content::before {
      @include media('>=tablet-l') {
      content: '';
      position: absolute;
      background-image: url('./images/triangle.png');
      top: 0;
      left: 50px;
      width: 254px;
      height: 252px;
  }
  }
  

  &__triangle {
    width: 70px;
    height: 70px;    
    margin: 15px auto;

    @include media('>=tablet-l') {
      display: none;
    }
    
  }

  &__heading {
    font-family: 'Playfair display', sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }

  &__paragraph {
    font-family: 'Roboto', sann-serif;
    font-size: 14px;
    line-height: 1.5rem;
    text-align: justify;
    padding: 20px 0;

    @include media('>=tablet-l') {
      padding: 20px 0 30px 365px;
      text-align: left;
    }
  }

}