.team {
  background: linear-gradient(to bottom, rgba(67,41, 83, .9), rgba(48,30, 86, .9)), url('./images/781767.jpg') no-repeat;
    background-size: 100% 100%;
  color: color(w);
  padding: 30px 0;

  &__heading {
    font-family: 'Playfair display', sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    
  }

  &__subheading {
    font-family: 'Playfair display', sans-serif;
    font-size: 14px;
    text-align: center;
    padding: 15px 0;
  }

  &__content {
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;

    @include media('>phone') {
      justify-content: space-around;
      flex-flow: row wrap;
    }
  }

  &__text {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-align: center;
    font-weight: 300;
    padding: 25px 0;
  }
}

.person {
  width: 270px;
  height: 370px;
  border: 1px solid #7a768e;
  margin: 10px 0;
  align-self: center;
  

  @include media('>=tablet') {
    width: 270px;
    height: 370px;
  }

  @include media('>=tablet-l') {
    width: 310px;
    height: 410px;
  }

  @include media('>=desktop') {
    width: 220px;
    height: 350px;
  }

  &__photo {
    width: 268px;
    height: 290px;
    
    @include media('>=tablet') {
      width: 268px;
      height: 290px;
    }

    @include media('>=tablet-l') {
      width: 308px;
      height: 340px;
    }

    @include media('>=desktop') {
      width: 218px;
      height: 270px;
    }
  }

  &__name {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
  }

  &__state {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    margin-top: 5px;
    color: #fafafa;
  }
}