.watch {
  background: linear-gradient(to bottom, rgba(67,41, 83, .9), rgba(48,30, 86, .9)), url('./images/781749.jpg') no-repeat;
    background-size: 100% 100%;
  padding: 100px 0;
  
  @include media('>=tablet') {
    padding: 150px 0;
  }
  
  &__content {
    
  }


  &__btn {
  width: 100px;
  height: 100px;
  margin: auto;
  display: block;
  
  }

  &__text {
  color: color(w);
  text-align: center;
  padding-top: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  }
}