.works {
  padding: 30px 0;
  color: color(h);

  &__header {
    display: flex;
    justify-content: flex-start;
    flex-flow: column nowrap;

    @include media('>=desktop') {
      flex-flow: row nowrap;
      justify-content: space-between;
      
      
    }
  }

  &__heading {
    font-family: 'Playfair display', sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;

    @include media('>=tablet-l') {
      padding: 10px 0;
    }
    
  }

  &__link {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-align: center;
    padding: 25px 10px;
    
    
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    padding: 20px 0;
  }
}

.workBox1 {
  width: 227.5px;
  height: 200px;
  background-color: color(wB1);
  
}

.workBox2 {
  width: 227.5px;
  height: 200px;
  background-color: color(wB2);
  
}

.workBox3 {
  width: 227.5px;
  height: 200px;
  background-color: color(wB3);
  
}